body, html {
  height: 100%;
  margin:0;
  padding:0;
}

.firstBackgroundImage {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/website-bryans-learning.appspot.com/o/Summer%202012%20(1%20of%201)-60.jpg?alt=media&token=e8481f5f-59ed-41a7-9995-2348c2cb9ed6');
}

.colorOverlay {
  height: 100vh;
  background-color: black;
  font-size: 36px;
  color: white;
}

.secondBackgroundImage {
  background-image: url('  https://firebasestorage.googleapis.com/v0/b/website-bryans-learning.appspot.com/o/website-background-blank.png?alt=media&token=ee132168-e2d9-4b77-b04d-4f509665198e');
}

.parallax{
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
